{% extends "base.html" %}
{% block style %} 
<style type="text/css">
    body {
      /* display: flex; */
      /* align-items: center; */
      /* padding-top: 40px; */
      padding-bottom: 40px;
      background-color: #f5f5f5;
    }

    .form-signin {
      width: 100%;
      max-width: 330px;
      padding: 15px;
      margin: auto;
    }
    
    .form-signin .checkbox {
      font-weight: 400;
    }
    
    .form-signin .form-floating:focus-within {
      z-index: 2;
    }
    
    .form-signin input[id="floatingName"] {
      margin-bottom: -1px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
    
    .form-signin input[id="floatingRoom"] {
      margin-bottom: 10px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
    
</style>
{% endblock %}
{% block content%}
{% if session['username'] and session['room'] %}
<div class="containter">
  <div class="row">
    <br>
    <div><br><center>Hi, {{ session['username'] }}!</center></div>
  </div>
</div>
<main class="form-signin text-center">
    <form action="/" method="post">
        <button class="w-100 btn btn-lg btn-primary" name="logout" type="submit">Logout</button>
    </form>
</main>
{% else %}
<main class="form-signin text-center">
    <form action="/", method="post">
        <h1 class="h3 mb-3 fw-normal">Welcome</h1>
        <div class="form-floating">
            <input type="text" class="form-control" id="floatingName" name="username" placeholder="Enter your name" >
            <label for="floatingInput">Enter your name</label>
        </div>
        <div class="form-floating">
            <input type="text" class="form-control" id="floatingRoom" name="room" placeholder="Enter your room">
            <label for="floatingRoom">Enter your room</label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" name="login" type="submit">Chat</button>
    </form>
</main>
{% endif%}
{% endblock%}